Trailing parameters should not be treated differently to middle parameters.

From RFC 1459 section 2.3.1:

>After extracting the parameter list, all parameters are equal, whether matched by <middle> or <trailing>. <Trailing> is just a syntactic trick to allow SPACE within parameter.

Splitting it out during parsing makes code built on your parser brittle as regardless of whether the last parameter is empty or contains a space servers may send still send it as a `<trailing>`.

You might find [this](https://github.com/ircdocs/parser-tests) useful for testing your standards compliance.